Repository daitamu/Sikuli-D: changes, and which Codecov flags are due for each by the changed paths.
All: core-rs, ide-rs-tauri, Core Library, Python Integration, Platform Specific

codecov.yml:

# Codecov Configuration for Sikuli-D
# Sikuli-D用Codecov設定

coverage:
  status:
    # Project-wide coverage target
    # プロジェクト全体のカバレッジ目標
    project:
      default:
        target: 85%
        threshold: 2%
        base: auto
        if_ci_failed: error

    # Patch coverage (PR changes)
    # パッチカバレッジ（PR変更）
    patch:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error

  # Coverage precision / カバレッジ精度
  precision: 2
  round: down
  range: "70...100"

# Ignore certain paths / 特定のパスを無視
ignore:
  - "core-rs/benches"
  - "core-rs/examples"
  - "core-rs/tests"
  - "*/tests/*"
  - "*/build.rs"
  - "ide-rs-tauri/src-tauri/target"

# Comment settings / コメント設定
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# GitHub checks / GitHubチェック
github_checks:
  annotations: true

# Flags for different components / コンポーネント別フラグ
flags:
  core-rs:
    paths:
      - core-rs/src/
    carryforward: false

  ide-rs-tauri:
    paths:
      - ide-rs-tauri/src-tauri/src/
    carryforward: false

# Components to track separately / 個別に追跡するコンポーネント
component_management:
  default_rules:
    statuses:
      - type: project
        target: 85%
  individual_components:
    - component_id: core_lib
      name: "Core Library"
      paths:
        - core-rs/src/lib.rs
        - core-rs/src/screen/
        - core-rs/src/image/
    - component_id: python_integration
      name: "Python Integration"
      paths:
        - core-rs/src/python/
    - component_id: platform_specific
      name: "Platform Specific"
      paths:
        - core-rs/src/screen/windows.rs
        - core-rs/src/screen/macos.rs
        - core-rs/src/screen/linux.rs

Add Python 2 to Python 3 auto-conversion and Pattern lazy loading Python 2 から Python 3 への自動変換と Pattern 遅延読み込みを追加
  Cargo.lock
  Cargo.toml
  SikuliX_sample.py
  core-rs/Cargo.toml
  core-rs/src/python/bindings.rs
  ide-rs-tauri/Cargo.toml
  ide-rs-tauri/src/capture.rs
  ide-rs-tauri/src/debug.rs
  ide-rs-tauri/src/main.rs
  ide-rs-tauri/src/pattern.rs
  ide-rs-tauri/src/plugins.rs
  ide-rs-tauri/src/settings.rs
  runtime-rs/Cargo.toml
  runtime-rs/sikulid_api/__init__.py
  runtime-rs/sikulid_api/finder.py
  runtime-rs/sikulid_api/input.py
  runtime-rs/sikulid_api/location.py
  runtime-rs/sikulid_api/match.py
  runtime-rs/sikulid_api/pattern.py
  runtime-rs/sikulid_api/py2to3.py
  runtime-rs/sikulid_api/region.py
  runtime-rs/sikulid_api/screen.py
  runtime-rs/src/converter.rs
  runtime-rs/src/main.rs
  runtime-rs/src/python/mod.rs
  runtime-rs/src/repl/mod.rs
  runtime-rs/src/runner.rs
Due: core-rs, Python Integration

Add Settings API to PyO3 bindings and disable Dependabot PyO3バインディングにSettings APIを追加し、Dependabotを無効化
  .github/dependabot.yml
  core-rs/Cargo.toml
  core-rs/pyproject.toml
  core-rs/src/python/bindings.rs
  runtime-rs/sikulid_api/__init__.py
  runtime-rs/sikulid_api/input.py
  runtime-rs/sikulid_api/region.py
  runtime-rs/sikulid_api/screen.py
Due: core-rs, Python Integration

Add scroll, drag, mouseDown/Up, and Observer API to Python bindings Python バインディングに scroll, drag, mouseDown/Up, Observer API を追加
  core-rs/src/python/bindings.rs
  runtime-rs/sikulid_api/__init__.py
Due: core-rs, Python Integration

Update README with Rust core documentation Rustコアのドキュメントを追加してREADMEを更新
  README.md
  core-rs/README.md
Due: none

Add pronunciation guide to README READMEに発音ガイドを追加
  README.md
Due: none

Update README with Rust core features and requirements READMEをRustコアの機能と要件に更新
  README.md
Due: none

Remove legacy label from Java version sections Java版セクションからレガシー表記を削除
  README.md
Due: none

Reorganize documentation with new component structure 新しいコンポーネント構成でドキュメントを整理
  README.md
  core-rs/README.md
  ide-rs-tauri/README.md
  runtime-rs/README.md
Due: none

Fix README wording: remove self-promotion, align EN/JP text README表現修正: 自画自賛を削除、英日テキストを統一
  README.md
Due: none

feat: Add automatic semantic versioning with Conventional Commits feat: Conventional Commitsによる自動セマンティックバージョニングを追加
  .claude/CLAUDE.md
  .github/workflows/semantic-version.yml
  README.md
Due: none

chore: Set version to 0.8.0 chore: バージョンを0.8.0に設定
  VERSION
  core-rs/Cargo.toml
  ide-rs-tauri/Cargo.toml
  ide-rs-tauri/tauri.conf.json
Due: none

docs: Fix bilingual format in README files docs: READMEファイルの日英併記形式を修正
  core-rs/README.md
  ide-rs-tauri/README.md
  runtime-rs/README.md
Due: none

chore: Change license from MIT to Apache 2.0 chore: ライセンスをMITからApache 2.0に変更
  .claude/CLAUDE.md
  LICENSE
  README.md
  core-rs/Cargo.toml
  core-rs/README.md
  ide-rs-tauri/README.md
  runtime-rs/README.md
Due: none

Add multi-monitor support and improve pure Python fallback マルチモニターサポートを追加し、純Pythonフォールバックを改善
  Cargo.lock
  core-rs/src/python/bindings.rs
  core-rs/src/screen/mod.rs
  core-rs/src/screen/windows.rs
  runtime-rs/sikulid_api/__init__.py
  runtime-rs/sikulid_api/screen.py
Due: core-rs, Core Library, Python Integration, Platform Specific

feat: Improve runtime-rs with timeout, multi-monitor, and REPL completion runtime-rsの改善: タイムアウト、マルチモニター、REPL補完機能
  Cargo.lock
  core-rs/benches/matching.rs
  core-rs/benches/ncc_calculation.rs
  core-rs/benches/screen_capture.rs
  core-rs/examples/highlight_demo.rs
  core-rs/examples/observer_demo.rs
  core-rs/src/app/mod.rs
  core-rs/src/color.rs
  core-rs/src/debug/highlight.rs
  core-rs/src/debug/highlight_linux.rs
  core-rs/src/highlight/mod.rs
  core-rs/src/image/matcher.rs
  core-rs/src/location.rs
  core-rs/src/observer.rs
  core-rs/src/plugin/mod.rs
  core-rs/src/screen/linux.rs
  core-rs/src/screen/macos.rs
  core-rs/src/screen/mod.rs
  core-rs/src/timeout/mod.rs
  core-rs/tests/integration/debugger_workflow_test.rs
  core-rs/tests/integration/input_integration_test.rs
  core-rs/tests/integration/python_integration_test.rs
  core-rs/tests/integration/screen_matcher_test.rs
  core-rs/tests/integration/workflow_test.rs
  core-rs/tests/observer_integration_test.rs
  core-rs/tests/test_ocr_api.rs
  ide-rs-tauri/src/capture.rs
  ide-rs-tauri/src/debug.rs
  ide-rs-tauri/src/main.rs
  ide-rs-tauri/src/pattern.rs
  ide-rs-tauri/src/plugins.rs
  ide-rs-tauri/src/settings.rs
  runtime-rs/Cargo.toml
  runtime-rs/src/bundle.rs
  runtime-rs/src/python/mod.rs
  runtime-rs/src/repl/completer.rs
  runtime-rs/src/repl/mod.rs
  runtime-rs/src/repl/tests.rs
  runtime-rs/src/runner.rs
Due: core-rs, Core Library, Platform Specific

fix: Clean up warnings and integrate highlight overlay 警告の解消とハイライトオーバーレイの統合
  Cargo.toml
  core-rs/Cargo.toml
  core-rs/src/highlight/windows_overlay.rs
  core-rs/src/lib.rs
  ide-rs-tauri/Cargo.toml
  runtime-rs/Cargo.toml
  runtime-rs/src/bundle.rs
  runtime-rs/src/converter.rs
  runtime-rs/src/repl/completer.rs
  runtime-rs/src/repl/special_commands.rs
Due: core-rs, Core Library

Add comprehensive SikuliX API compatibility to Python bindings Python バインディングに包括的な SikuliX API 互換性を追加
  runtime-rs/sikuli/__init__.py
  runtime-rs/sikulid_api/__init__.py
  runtime-rs/sikulid_api/region.py
  runtime-rs/sikulid_api/screen.py
  runtime-rs/src/python/mod.rs
Due: none

feat: Add multi-monitor DPI support and Shift+Alt+C hotkey feat: マルチモニターDPIサポートとShift+Alt+Cホットキーを追加
  Cargo.lock
  README.md
  core-rs/src/screen/coordinates.rs
  core-rs/src/screen/linux.rs
  core-rs/src/screen/macos.rs
  core-rs/src/screen/mod.rs
  core-rs/src/screen/windows.rs
  docs/design/multimonitor-dpi-design.md
  ide-rs-tauri/BUILD_NUMBER
  ide-rs-tauri/build.rs
  ide-rs-tauri/capabilities/default.json
  ide-rs-tauri/gen/schemas/capabilities.json
  ide-rs-tauri/src-frontend/dist/assets/index-CMM7mqH-.js
  ide-rs-tauri/src-frontend/dist/assets/index-ChO_1q3O.js
  ide-rs-tauri/src-frontend/dist/assets/main-BY3qV2St.js
  ide-rs-tauri/src-frontend/dist/index.html
  ide-rs-tauri/src-frontend/src/App.tsx
  ide-rs-tauri/src-frontend/src/components/Header.tsx
  ide-rs-tauri/src-frontend/src/hooks/useTauri.ts
  ide-rs-tauri/src/main.rs
  runtime-rs/Cargo.toml
  runtime-rs/src/hotkey.rs
  runtime-rs/src/main.rs
  runtime-rs/src/python/mod.rs
  runtime-rs/src/runner.rs
Due: core-rs, Core Library, Platform Specific

style: Fix cargo fmt formatting issues style: cargo fmtのフォーマット問題を修正
  core-rs/benches/matching.rs
  core-rs/examples/highlight_demo.rs
  core-rs/examples/observer_demo.rs
  core-rs/src/app/linux_impl.rs
  core-rs/src/color.rs
  core-rs/src/debug/debugger.rs
  core-rs/src/debug/highlight.rs
  core-rs/src/debug/highlight_linux.rs
  core-rs/src/debug/mod.rs
  core-rs/src/debug/tests.rs
  core-rs/src/highlight/macos_overlay.rs
  core-rs/src/image/matcher.rs
  core-rs/src/lib.rs
  core-rs/src/observer.rs
  core-rs/src/python/bindings.rs
  core-rs/src/python/mod.rs
  core-rs/src/screen/linux.rs
  core-rs/src/screen/macos.rs
  core-rs/src/screen/mod.rs
  core-rs/src/screen/windows.rs
  core-rs/src/timeout/mod.rs
  core-rs/tests/observer_integration_test.rs
  core-rs/tests/test_ocr_api.rs
  ide-rs-tauri/BUILD_NUMBER
Due: core-rs, Core Library, Python Integration, Platform Specific

fix: Fix semantic version workflow git add issue fix: セマンティックバージョンワークフローのgit add問題を修正
  .github/workflows/semantic-version.yml
  ide-rs-tauri/BUILD_NUMBER
Due: none

fix: Apply cargo fmt to all crates and add workflow permissions fix: 全クレートにcargo fmtを適用し、ワークフロー権限を追加
  .github/workflows/semantic-version.yml
  ide-rs-tauri/BUILD_NUMBER
  ide-rs-tauri/build.rs
  ide-rs-tauri/src/debug.rs
  ide-rs-tauri/src/execution.rs
  ide-rs-tauri/src/image_library.rs
  ide-rs-tauri/src/ocr.rs
  ide-rs-tauri/src/pattern.rs
  runtime-rs/src/bundle.rs
  runtime-rs/src/converter.rs
  runtime-rs/src/hotkey.rs
  runtime-rs/src/main.rs
  runtime-rs/src/python/mod.rs
  runtime-rs/src/repl/completer.rs
  runtime-rs/src/repl/mod.rs
  runtime-rs/src/repl/special_commands.rs
  runtime-rs/src/repl/tests.rs
  runtime-rs/src/runner.rs
Due: none

fix: Add Tesseract/Leptonica dependencies to CI workflow fix: CIワークフローにTesseract/Leptonica依存関係を追加
  .github/workflows/ci.yml
Due: none

fix: Disable --all-features in CI due to experimental features issues fix: 実験的機能の問題によりCIで--all-featuresを無効化
  .github/workflows/ci.yml
Due: none

fix: Fix CI clippy warnings and add missing dependencies fix: CIのclippy警告を修正し、欠落した依存関係を追加
  core-rs/Cargo.toml
  core-rs/benches/screen_capture.rs
  core-rs/src/color.rs
  core-rs/src/debug/debugger.rs
  core-rs/src/debug/highlight_linux.rs
  core-rs/src/debug/tests.rs
  core-rs/src/image/matcher.rs
  core-rs/src/lib.rs
  core-rs/src/location.rs
  core-rs/src/observer.rs
  core-rs/src/screen/mod.rs
Due: core-rs, Core Library

fix: Fix Linux-specific CI/CD compilation errors fix: Linux固有のCI/CDコンパイルエラーを修正
  core-rs/src/app/linux_impl.rs
  core-rs/src/debug/highlight.rs
  core-rs/src/debug/highlight_linux.rs
  core-rs/src/python/executor.rs
Due: core-rs, Python Integration

chore: Fix import order in highlight.rs chore: highlight.rsのインポート順序を修正
  core-rs/src/debug/highlight.rs
Due: core-rs

fix: Resolve remaining Linux clippy warnings fix: Linux残りのclippy警告を解消
  core-rs/src/app/linux_impl.rs
  core-rs/src/debug/highlight_linux.rs
Due: core-rs

fix: Update pyo3 to 0.24 to fix security vulnerability fix: セキュリティ脆弱性を修正するためpyo3を0.24に更新
  core-rs/Cargo.toml
Due: none

chore: Update Cargo.lock with pyo3 0.24.2 chore: Cargo.lockをpyo3 0.24.2で更新
  Cargo.lock
Due: none

chore: Remove core-rs/Cargo.lock to use workspace lockfile chore: core-rs/Cargo.lockを削除してワークスペースのlockfileを使用
  core-rs/Cargo.lock
Due: none

fix: Run cargo audit from workspace root fix: ワークスペースルートからcargo auditを実行
  .github/workflows/ci.yml
Due: none

fix: Update deny.toml to v2 format for newer cargo-deny fix: 新しいcargo-deny用にdeny.tomlをv2フォーマットに更新
  deny.toml
Due: none

fix: Add NCSA license to allowed list in deny.toml fix: deny.tomlの許可ライセンスにNCSAを追加
  deny.toml
Due: none

fix: Add MPL-2.0 and Unicode-3.0 licenses to allow list fix: MPL-2.0とUnicode-3.0ライセンスを許可リストに追加
  deny.toml
Due: none

fix: Ignore paste crate unmaintained advisory (RUSTSEC-2024-0436) fix: paste クレートのメンテナンス終了アドバイザリを無視
  deny.toml
Due: none

fix: Update macOS scroll event API for core-graphics 0.24 fix: core-graphics 0.24向けにmacOSスクロールイベントAPIを更新
  core-rs/src/screen/macos.rs
Due: core-rs, Core Library, Platform Specific

fix: Fix macOS build errors for core-graphics 0.24 compatibility fix: core-graphics 0.24互換性のためのmacOSビルドエラーを修正
  core-rs/Cargo.toml
  core-rs/src/screen/macos.rs
Due: core-rs, Core Library, Platform Specific

feat: Add Monaco Editor with inline image preview for Code mode feat: コードモードにMonaco Editorとインライン画像プレビューを追加
  ide-rs-tauri/src-frontend/dist/assets/index-C8gSWY8S.js
  ide-rs-tauri/src-frontend/dist/assets/index-ChO_1q3O.js
  ide-rs-tauri/src-frontend/dist/assets/main-B1-iQbug.js
  ide-rs-tauri/src-frontend/dist/assets/main-BY3qV2St.js
  ide-rs-tauri/src-frontend/dist/assets/main-CQ63f09c.css
  ide-rs-tauri/src-frontend/dist/assets/main-DXQXJYYK.css
  ide-rs-tauri/src-frontend/dist/index.html
  ide-rs-tauri/src-frontend/package-lock.json
  ide-rs-tauri/src-frontend/package.json
  ide-rs-tauri/src-frontend/src/App.tsx
  ide-rs-tauri/src-frontend/src/components/CodeMode.tsx
  ide-rs-tauri/src-frontend/src/components/Console.tsx
Due: none
